<div class="d-flex justify-content-center">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <h2>Pokémon Types</h2>
      </ng-template>
      <div
        class="d-flex justify-content-start align-content-around flex-wrap gap-3 mt-4"
      >
        @for (pokemonType of pokemonTypeList(); track pokemonType.name) {
        <mat-card class="flex-grow-1 col-6 col-md-3" appearance="raised">
          <mat-card-header
            class="text-capitalize d-flex justify-content-center"
          >
            <mat-card-title>{{ pokemonType.name }}</mat-card-title>
          </mat-card-header>
          <mat-card-actions class="d-flex justify-content-center">
            <button matButton [routerLink]="`type/${pokemonType.name}`">
              View list
            </button>
          </mat-card-actions>
        </mat-card>
        }
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
